@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

@primary: #4d96a9;
@primary-light: #8fe3f9;
@secondary: #855fb1;
@secondary-light: #d9b8ff;
@neutral-1: #28283d;
@neutral-2: #87879d;
@neutral-3: #fafafa;

@tablet: 768px;
@desktop: 1440px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Red Hat Display', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: @neutral-3;
}

header {
  text-align: center;
  margin: 4.8rem 0 5.4rem 0;

  @media (min-width: @tablet) {
    margin: 4.8rem 0 6.4rem 0;
  }

  @media (min-width: @desktop) {
    margin: 8rem 0 6.1rem 0;
  }
}

.main {
  button {
    appearance: none;
    font-size: 1.6rem;
    font-weight: 900;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  &__header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'picture-1 picture-2' 'info info';
    column-gap: 1.6rem;
    row-gap: 4.8rem;
    overflow: hidden;
    justify-content: center;
    justify-items: stretch;

    img {
      width: 100%;

      &:first-child {
        grid-area: picture-1;
      }

      &:last-child {
        grid-area: picture-2;
      }
    }

    @media (min-width: @tablet) {
      column-gap: 3.2rem;
      row-gap: 7.2rem;
    }

    @media (min-width: @desktop) {
      grid-template-columns: minmax(39.4rem, 1fr) 54rem minmax(39.4rem, 1fr);
      grid-template-areas: 'picture-1 info picture-2';
      column-gap: 8.8rem;

      img {
        &:first-of-type {
          align-self: start;
          justify-self: end;
        }

        &:last-of-type {
          align-self: end;
          justify-self: start;
        }
      }
    }
  }

  &__title {
    grid-area: info;
    text-align: center;
    padding: 0 2.4rem;
    align-self: center;

    h1 {
      font-size: 4rem;
      line-height: 110%;
      font-weight: 900;
      color: @neutral-1;
      margin-bottom: 2.4rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 162%;
      color: @neutral-2;
      margin-bottom: 3.2rem;
    }

    @media (min-width: @tablet) {
      padding: 0 15.6rem;

      h1 {
        font-size: 4.8rem;
        line-height: 100%;
        padding: 0 6rem;
        margin-bottom: 3.4rem;
        margin-top: 4.7rem;
      }

      p {
        font-size: 1.8rem;
        line-height: 144%;
      }
    }

    @media (min-width: @desktop) {
      padding: 0;

      h1 {
        font-size: 6.4rem;
        line-height: 100%;
        padding: 0 4.3rem;
        margin-bottom: 7.2rem;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    button:first-child {
      padding: 1.6rem 4rem;
      background: @primary;
      border-radius: 2.9rem;

      span {
        color: @primary-light;
      }

      &:hover {
        background: #71c0d4;
      }
    }

    button:last-child {
      padding: 1.6rem 2.9rem;
      background: @secondary;
      border-radius: 2.9rem;

      &:hover {
        background: #b18bdd;
      }
    }

    @media (min-width: @tablet) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__about {
    article:first-child {
      & > div {
        .section-indicator();
      }

      padding: 0 2.4rem;
      margin-top: 6.4rem;
      text-align: center;
      font-weight: 900;

      h2 {
        font-size: 1.6rem;
        line-height: 162%;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        color: @primary;
        margin-bottom: 2.4rem;
      }

      h3 {
        font-size: 3.2rem;
        line-height: 112%;
        margin-bottom: 3.2rem;
      }

      p {
        font-size: 1.6rem;
        line-height: 162%;
        font-weight: 500;
        color: @neutral-2;
        margin-bottom: 6.4rem;
      }

      @media (min-width: @tablet) {
        margin-top: 8rem;
        padding: 0 4rem;

        h3 {
          padding: 0 12.2rem;
          font-size: 4rem;
          line-height: 110%;
        }

        p {
          padding: 0 5.8rem;
          margin-bottom: 8rem;
        }
      }

      @media (min-width: @desktop) {
        margin-top: 11rem;
        padding: 0 16.5rem;

        h2 {
          margin-bottom: 2.4rem;
        }

        h3 {
          padding: 0 33.2rem;
        }

        p {
          font-size: 1.8rem;
          line-height: 144%;
          padding: 0 28.5rem;
        }
      }
    }

    article:last-child {
      padding-top: 11.2rem;

      section > div:first-of-type {
        .section-indicator();
        position: relative;
        transform: translateY(-11.2rem);
      }

      section {
        background: linear-gradient(
            rgba(77, 150, 169, 0.91),
            rgba(77, 150, 169, 0.91)
          ),
          url('./assets/mobile/image-footer.jpg');
        background-size: cover !important;
        text-align: center;
      }

      h2,
      p {
        padding: 0 2.4rem;
        color: @neutral-3;
      }

      h2 {
        font-size: 3.2rem;
        font-weight: 900;
        line-height: 112%;
        margin-top: -4.8rem;
      }

      p {
        margin-top: 2.4rem;
        font-size: 1.8rem;
        line-height: 144%;
      }

      button {
        margin-top: 3.2rem;
        padding: 1.6rem 4rem;
        background: @secondary;
        border-radius: 2.9rem;
        margin-bottom: 7.2rem;

        span {
          color: @secondary-light;
        }

        &:hover {
          background: #b18bdd;
        }
      }

      @media (min-width: @tablet) {
        section {
          background: linear-gradient(
              rgba(77, 150, 169, 0.91),
              rgba(77, 150, 169, 0.91)
            ),
            url('./assets/tablet/image-footer.jpg');
        }

        h2 {
          padding: 0 15.6rem;
          font-size: 4rem;
          line-height: 110%;
        }

        p {
          margin-top: 3.2rem;
          padding: 0 9.8rem;
        }

        button {
          margin-top: 4rem;
          margin-bottom: 6.6rem;
        }
      }

      @media (min-width: @desktop) {
        section > div:last-child {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 16.5rem 10.4rem 16.5rem;

          h2,
          p,
          button {
            margin: 0;
          }

          h2 {
            padding: 0;
            text-align: left;
            max-width: 35rem;
          }

          p {
            padding: 0;
            text-align: left;
            max-width: 35rem;
          }

          button {
            width: 19.3rem;
          }
        }

        section {
          background: linear-gradient(
              rgba(77, 150, 169, 0.91),
              rgba(77, 150, 169, 0.91)
            ),
            url('./assets/desktop/image-footer.jpg');
        }
      }
    }

    &-grid-img {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2.4rem;
      padding: 6.4rem 0;

      img {
        width: 100%;
        border-radius: 0.8rem;
      }

      @media (min-width: @tablet) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.1rem;
      }
    }
  }
}

.section-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5.6rem;
    height: 5.6rem;
    font-size: 1.6rem;
    line-height: 162%;
    font-weight: 900;
    color: @neutral-2;
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 29px;
    background-color: @neutral-3;
  }

  &::before {
    content: '';
    display: block;
    height: 8.4rem;
    opacity: 0.25;
    width: 1px;
    background-color: @neutral-2;
  }
}
